@charset "utf-8";
/* CSS Document */

/*主体部分*/

	
/*下载列表页版块*/
.downleft{
	width:55vw;
	height:auto;
	float:left;
	margin-bottom:5vw;
	background-color:rgba(255,255,255,0.3);
	padding:1.2vw 1.5vw;
	box-shadow:0vw 0vw 0.06vw 0vw rgba(180,180,180,1.00);
	}

.downleft img{
	height:2vw;
	width:auto;
	}
	
.downleft hr{
	border:0.08vw solid black;
	}

.downlist{
	width:95%;
	height:33vw;
	margin:0 auto;
	padding-top:0.8vw;
}
.downlist li{
	line-height:2.2vw;
}
.downlist a{
	color:#0970a0;
}
.downlist span{
	float:right;
}
/*页面切换*/
.list_page{
	height:2vw;
	margin-top:1.2vw;
	font-family:"黑体";
	font-size:1vw;
	margin-left:12vw;
}
.list_page li{
	display:block;
	float:left;
	line-height:2vw;
	text-align:center;
	padding:0.1vw 0.5vw;
	margin:0 0.5vw;
	border-radius:0.5vw;
}
.list_page_btn{
	background-color:#FFF;
}
